:root{
    --roxo: #CD98E5;
    --corseg: #E5D098;
    --corfund:#232025;
    --branco: #ffffff;
}
body{
    
  background-image:
    url(./imagens/Group\ 3.png);
  background-color:var(--corfund) ;
  width: auto;
}
h1.titulo1 {
    color:var(--branco);
    text-align: center;
    font-size: 100px;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    grid-column: 2 /span 6;

   justify-self: start; 
}

span.higli{
  color:var(--corseg);
}
.highroxo {
    color: var(--roxo);
}
header {
    color: var(--branco);
}

header.titulo{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
div.textini{
  font-size: 50px;  
  width: 70%;
  display: inline-block;
  color: var(--branco);

}
div.curiosidades{
  display:contents
  
}
img.cpen{
  float: right;
  height: 410px;
}
img.flecha1{
 float: left;

}
img.flecha2{
  float: right;

}