:root{
    --roxo: #CD98E5;
    --corseg: #E5D098;

}
body{
    
  background-image:
    url(./imagens/Group\ 3.png);
  /* background-repeat:  
    repeat-x, 
      no-repeat, 
        repeat-y;
  background-position: 
      center, 
        0 0;*/
  background-color:#232025 ;
.titulo1 {
    color:var(--roxo);
    text-align: center;
}
p.titulo2{
  color:var(--roxo)

}
.tranco {
    color: white;
}
header {
    color: rgb(255, 255, 255);
}
div.primeira_parte{
    width: 286px;
    height: fit-content;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    align-items: center;
  }
}
/* img.carapen {} */